html {
    font-size: 17px;
} 

.photo {
    text-align: center;
}

#mushroom {
    width: 20vw;
    max-width: 300px;
    height: auto;
}
.nav-item{
    color:#ffffff;
}

.features
{
    text-align:left;
}

table tr th{
    font-weight:300;
}

#nav-tabContent{
	height: 305px;
}

#services{
    padding-top: 3rem;
}