<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Edible or Poisonous</title>
        <link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/img/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/img/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/img/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/static/img/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
        <link rel="manifest" href="/static/img/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/static/img/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="/static/css/app.css">
        
        <!-- 插入vue -->
        <script src="/static/vendor/vue/vue.js"></script>
        
        <!-- Bootstrap Core CSS -->
        <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">


        <!-- Custom CSS -->
        <link href="/static/css/stylish-portfolio.min.css" rel="stylesheet">
        <link href="/static/css/app.css" rel="stylesheet">
        
    </head>
  <body id="page-top" name="page-top">
    
    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top">Menu</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#page-top">Home</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">Mushrooms</h1>
        <h3 class="mb-5">
          <em>Find the poisonous probability of a mushroom</em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#services">Have a try</a>
      </div>
      <div class="overlay"></div>
    </header>

    <!-- About -->
    <!-- <section class="content-section bg-light" id="about"> -->
      <!-- <div class="container text-center"> -->
        <!-- <div class="row"> -->
          <!-- <div class="col-lg-10 mx-auto"> -->
            <!-- <h2>Stylish Portfolio is the perfect theme for your next project!</h2> -->
            <!-- <p class="lead mb-5">This theme features a flexible, UX friendly sidebar menu and stock photos from our friends at -->
              <!-- <a href="https://unsplash.com/">Unsplash</a>!</p> -->
            <!-- <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">What We Offer</a> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </section> -->

    <!-- Services -->
    <!-- <section class="content-section bg-primary text-white text-center" id="services"> -->
    <section class="masthead d-flex bg-primary text-white text-center" id="services" name="about">
      <div class="container">
        <!-- <div class="content-section-heading"> -->
            <!-- <h3 class="text-secondary mb-0">Services</h3> -->
            <!-- <h2 class="mb-5">###</h2> -->
        <!-- </div> -->
        
        <div>
            <img class="rounded mx-auto d-block" id="mushroom" v-bind:src="image" v-bind:alt="altText">
        </div>
        <br>
        <br>
        
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<nav>
					<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
						<a v-on:click="change_photo" id="change_photo_cap" class="nav-item nav-link active" data-toggle="tab" href="#cap" role="tab">cap</a>
						<a v-on:click="change_photo" id="change_photo_gill" class="nav-item nav-link" data-toggle="tab" href="#gill" role="tab">gill</a>
						<a v-on:click="change_photo" id="change_photo_stalk" class="nav-item nav-link" data-toggle="tab" href="#stalk" role="tab">stalk</a>
						<a v-on:click="change_photo" id="change_photo_ring" class="nav-item nav-link" data-toggle="tab" href="#ring" role="tab">ring</a>
						<a v-on:click="change_photo" id="change_photo_veil" class="nav-item nav-link" data-toggle="tab" href="#veil" role="tab">veil</a>
						<a v-on:click="change_photo" id="change_photo_other" class="nav-item nav-link" data-toggle="tab" href="#other" role="tab">other</a>
					</div>
				</nav>
				<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <!-- cap -->
                    <div class="tab-pane fade show active features" id="cap" role="tabpanel">
                       <table>
                          <tr>
                             <th class="font-weight-bold">cap features:</th>
                          </tr>
                          <!-- cap_shape -->
                          <tr id="cap_shape">
                             <th>Select cap_shape:</th>
                             <th>
                                <select v-model="selected" class="form-control">
                                   <option disabled value="">Please select</option>
                                   <option v-for="option in options" v-bind:value="option.value">
                                      {[ option.text ]}
                                   </option>
                                </select>
                             </th>
                             <th>Label Selected: {[ selected ]}</th>
                          </tr>
                          <!-- cap_surface -->
                          <tr id="cap_surface">
                             <th>Select cap_surface:</th>
                             <th>
                                <select v-model="selected" class="form-control">
                                   <option disabled value="">Please select</option>
                                   <option v-for="option in options" v-bind:value="option.value">
                                      {[ option.text ]}
                                   </option>
                                </select>
                             </th>
                             <th>Label Selected: {[ selected ]}</th>
                          </tr>
                          <!-- cap_color -->
                          <tr id="cap_color">
                             <th>Select cap_color:</th>
                             <th>
                                <select v-model="selected" class="form-control">
                                   <option disabled value="">Please select</option>
                                   <option v-for="option in options" v-bind:value="option.value">
                                      {[ option.text ]}
                                   </option>
                                </select>
                             </th>
                             <th>Label Selected: {[ selected ]}</th>
                          </tr>
                       </table>
                    </div>

                    <!-- gill -->
                    <div class="tab-pane fade show features" id="gill" role="tabpanel">
                       <table>
                          <tr>
                             <th class="font-weight-bold">gill features:</th>
                          </tr>
                          <!-- gill_attachment -->
                          <tr id="gill_attachment">
                             <th>Select gill_attachment:</th>
                             <th>
                                <select v-model="selected" class="form-control">
                                   <option disabled value="">Please select</option>
                                   <option v-for="option in options" v-bind:value="option.value">
                                      {[ option.text ]}
                                   </option>
                                </select>
                             </th>
                             <th>Label Selected: {[ selected ]}</th>
                          </tr>
                          <!-- gill_spacing -->
                          <tr id="gill_spacing">
                             <th>Select gill_spacing:</th>
                             <th>
                                <select v-model="selected" class="form-control">
                                   <option disabled value="">Please select</option>
                                   <option v-for="option in options" v-bind:value="option.value">
                                      {[ option.text ]}
                                   </option>
                                </select>
                             </th>
                             <th>Label Selected: {[ selected ]}</th>
                          </tr>
                          <!-- gill_size -->
                          <tr id="gill_size">
                             <th>Select gill_size:</th>
                             <th>
                                <select v-model="selected" class="form-control">
                                   <option disabled value="">Please select</option>
                                   <option v-for="option in options" v-bind:value="option.value">
                                      {[ option.text ]}
                                   </option>
                                </select>
                             </th>
                             <th>Label Selected: {[ selected ]}</th>
                          </tr>
                          <!-- gill_color -->
                          <tr id="gill_color">
                             <th>Select gill_color:</th>
                             <th>
                                <select v-model="selected" class="form-control">
                                   <option disabled value="">Please select</option>
                                   <option v-for="option in options" v-bind:value="option.value">
                                      {[ option.text ]}
                                   </option>
                                </select>
                             </th>
                             <th>Label Selected: {[ selected ]}</th>
                          </tr>
                       </table>
                    </div>

                    <!-- stalk -->
                    <div class="tab-pane fade show features" id="stalk" role="tabpanel">
                       <table>
                          <tr>
                             <th class="font-weight-bold">stalk features:</th>
                          </tr>
                          <!-- stalk_shape -->
                          <tr id="stalk_shape">
                             <th>Select stalk_shape:</th>
                             <th>
                                <select v-model="selected" class="form-control">
                                   <option disabled value="">Please select</option>
                                   <option v-for="option in options" v-bind:value="option.value">
                                      {[ option.text ]}
                                   </option>
                                </select>
                             </th>
                             <th>Label Selected: {[ selected ]}</th>
                          </tr>
                          <!-- stalk_root -->
                          <tr id="stalk_root">
                             <th>Select stalk_root:</th>
                             <th>
                                <select v-model="selected" class="form-control">
                                   <option disabled value="">Please select</option>
                                   <option v-for="option in options" v-bind:value="option.value">
                                      {[ option.text ]}
                                   </option>
                                </select>
                             </th>
                             <th>Label Selected: {[ selected ]}</th>
                          </tr>
                          <!-- stalk_surface_above_ring -->
                          <tr id="stalk_surface_above_ring">
                             <th>Select stalk_surface_above_ring:</th>
                             <th>
                                <select v-model="selected" class="form-control">
                                   <option disabled value="">Please select</option>
                                   <option v-for="option in options" v-bind:value="option.value">
                                      {[ option.text ]}
                                   </option>
                                </select>
                             </th>
                             <th>Label Selected: {[ selected ]}</th>
                          </tr>
                          <!-- stalk_surface_below_ring -->
                          <tr id="stalk_surface_below_ring">
                             <th>Select stalk_surface_below_ring:</th>
                             <th>
                                <select v-model="selected" class="form-control">
                                   <option disabled value="">Please select</option>
                                   <option v-for="option in options" v-bind:value="option.value">
                                      {[ option.text ]}
                                   </option>
                                </select>
                             </th>
                             <th>Label Selected: {[ selected ]}</th>
                          </tr>
                          <!-- stalk_color_above_ring -->
                          <tr id="stalk_color_above_ring">
                             <th>Select stalk_color_above_ring:</th>
                             <th>
                                <select v-model="selected" class="form-control">
                                   <option disabled value="">Please select</option>
                                   <option v-for="option in options" v-bind:value="option.value">
                                      {[ option.text ]}
                                   </option>
                                </select>
                             </th>
                             <th>Label Selected: {[ selected ]}</th>
                          </tr>
                          <!-- stalk_color_below_ring -->
                          <tr id="stalk_color_below_ring">
                             <th>Select stalk_color_below_ring:</th>
                             <th>
                                <select v-model="selected" class="form-control">
                                   <option disabled value="">Please select</option>
                                   <option v-for="option in options" v-bind:value="option.value">
                                      {[ option.text ]}
                                   </option>
                                </select>
                             </th>
                             <th>Label Selected: {[ selected ]}</th>
                          </tr>
                       </table>
                    </div>

                    <!-- ring -->
                    <div class="tab-pane fade show features" id="ring" role="tabpanel">
                       <table>
                          <tr>
                             <th class="font-weight-bold">ring features:</th>
                          </tr>
                          <!-- ring_number -->
                          <tr id="ring_number">
                             <th>Select ring_number:</th>
                             <th>
                                <select v-model="selected" class="form-control">
                                   <option disabled value="">Please select</option>
                                   <option v-for="option in options" v-bind:value="option.value">
                                      {[ option.text ]}
                                   </option>
                                </select>
                             </th>
                             <th>Label Selected: {[ selected ]}</th>
                          </tr>
                          <!-- ring_type -->
                          <tr id="ring_type">
                             <th>Select ring_type:</th>
                             <th>
                                <select v-model="selected" class="form-control">
                                   <option disabled value="">Please select</option>
                                   <option v-for="option in options" v-bind:value="option.value">
                                      {[ option.text ]}
                                   </option>
                                </select>
                             </th>
                             <th>Label Selected: {[ selected ]}</th>
                          </tr>
                       </table>
                    </div>

                    <!-- veil -->
                    <div class="tab-pane fade show features" id="veil" role="tabpanel">
                       <table>
                          <tr>
                             <th class="font-weight-bold">veil features:</th>
                          </tr>
                          <!-- veil_type -->
                          <tr id="veil_type">
                             <th>Select veil_type:</th>
                             <th>
                                <select v-model="selected" class="form-control">
                                   <option disabled value="">Please select</option>
                                   <option v-for="option in options" v-bind:value="option.value">
                                      {[ option.text ]}
                                   </option>
                                </select>
                             </th>
                             <th>Label Selected: {[ selected ]}</th>
                          </tr>
                          <!-- veil_color -->
                          <tr id="veil_color">
                             <th>Select veil_color:</th>
                             <th>
                                <select v-model="selected" class="form-control">
                                   <option disabled value="">Please select</option>
                                   <option v-for="option in options" v-bind:value="option.value">
                                      {[ option.text ]}
                                   </option>
                                </select>
                             </th>
                             <th>Label Selected: {[ selected ]}</th>
                          </tr>
                       </table>
                    </div>

                    <!-- other -->
                    <div class="tab-pane fade show features" id="other" role="tabpanel">
                       <table>
                          <tr>
                             <th class="font-weight-bold">other features:</th>
                          </tr>
                          <!-- bruises -->
                          <tr id="bruises">
                             <th>Select bruises:</th>
                             <th>
                                <select v-model="selected" class="form-control">
                                   <option disabled value="">Please select</option>
                                   <option v-for="option in options" v-bind:value="option.value">
                                      {[ option.text ]}
                                   </option>
                                </select>
                             </th>
                             <th>Label Selected: {[ selected ]}</th>
                          </tr>
                          <!-- odor -->
                          <tr id="odor">
                             <th>Select odor:</th>
                             <th>
                                <select v-model="selected" class="form-control">
                                   <option disabled value="">Please select</option>
                                   <option v-for="option in options" v-bind:value="option.value">
                                      {[ option.text ]}
                                   </option>
                                </select>
                             </th>
                             <th>Label Selected: {[ selected ]}</th>
                          </tr>
                         <!-- spore_print_color -->
                          <tr id="spore_print_color">
                             <th>Select spore_print_color:</th>
                             <th>
                                <select v-model="selected" class="form-control">
                                   <option disabled value="">Please select</option>
                                   <option v-for="option in options" v-bind:value="option.value">
                                      {[ option.text ]}
                                   </option>
                                </select>
                             </th>
                             <th>Label Selected: {[ selected ]}</th>
                          </tr>
                         <!-- population -->
                          <tr id="population">
                             <th>Select population:</th>
                             <th>
                                <select v-model="selected" class="form-control">
                                   <option disabled value="">Please select</option>
                                   <option v-for="option in options" v-bind:value="option.value">
                                      {[ option.text ]}
                                   </option>
                                </select>
                             </th>
                             <th>Label Selected: {[ selected ]}</th>
                          </tr>
                         <!-- habitat -->
                          <tr id="habitat">
                             <th>Select habitat:</th>
                             <th>
                                <select v-model="selected" class="form-control">
                                   <option disabled value="">Please select</option>
                                   <option v-for="option in options" v-bind:value="option.value">
                                      {[ option.text ]}
                                   </option>
                                </select>
                             </th>
                             <th>Label Selected: {[ selected ]}</th>
                          </tr>
                       </table>
                    </div>
                    
				</div>

              <div id="run">
                 <p>{[ message ]}</p>
                 <button v-on:click="magic" type="button" class="btn btn-secondary btn-lg btn-block">run</button>
              </div>
            
			</div>
		</div>
        
        </div>
    </section>


    <!-- Footer -->
    <footer class="footer text-center" name="contact">
      <div class="container">
        <ul class="list-inline mb-5">
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="#">
              <i class="icon-social-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="#">
              <i class="icon-social-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white" href="#">
              <i class="icon-social-github"></i>
            </a>
          </li>
        </ul>
        <p class="text-muted small mb-0">Copyright &copy; ds18b20 2018</p>
      </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

        <!-- Bootstrap core JavaScript -->
        <script src="/static/vendor/jquery/jquery.min.js"></script>
        <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="/static/js/stylish-portfolio.min.js"></script>

        <!-- app -->
        <script src="/static/js/app.js"></script>
    
  </body>

</html>
